<!DOCTYPE html>
<br>
<br>
<br>
<h1>Vender Info Page</h1>
<h2>Vender Name : {{store.name}} </h2>
<div class="row">
	{{#each store.supplies}}
	<div class="col-xs-3">
    <div class="img-box">
  		<img src="./img/supplies/{{.}}.png" class="img-responsive">
	  	<a href="#">{{.}}</a>
    </div>
	</div>
	{{/each}}
</div>
<div class="row">
	{{#each store.clothes}}
  <div class="col-xs-3">
    <div class="img-box">
  		<img src="./img/clothes/{{.}}.jpg" class="img-responsive">
  		<a href="#">{{.}}</a>
    </div>
  </div>
	{{/each}}
</div>
